/SimpleTest1.class
/Demo.class
/SimpleTest2.class
/Emp.class
/NotToSeriazeChildClass.class
/A.class
/B.class
/Case1IfSuperclassIsSerializable.class
/Case1.class
/Case2.class
/A1.class
/B1.class
/Test.class
